<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            SignUp
        </h1>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input #emailInput class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input #passwordInput class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faLock"></fa-icon>
                </span>
            </p>
        </div>
        <div class="field button-holder">
            <p class="control signup-button">
                <button class="button is-success has-text-white" (click)="onSignupBtnClick(emailInput.value,passwordInput.value)">
                    SignUp
                </button>
            </p>
        </div>
        <div class="field horizontal-line-container">
            <hr class="horizontal-line">
        </div>

        <div class="field button-holder">
            <p class="control login-button">
                <button class="button is-warning" (click)="onLoginBtnClick()">
                    Login
                </button>
            </p>
        </div>
    </div>
</div>