<div class="centered-content">

    <div class="task-manager-container" [ngClass]="{blur: (isListDataUpdating || isTaskDataUpdating)}">

        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>
            <div class="list-menu">
                <ng-container *ngFor="let list of lists">
                    <a class="list-menu-item" routerLink="/lists/{{list._id}}" routerLinkActive="is-active">
                        <p>{{list.Ltitle}}</p>
                    </a>
                </ng-container>
            </div>
            <button class="list-add button is-primary has-text-white" (click)="createNewList()">+ New List</button>
        </div>

        <div class="task-list-container">
            <div class="task-top-bar">
                <h1 class="title">
                    Tasks
                </h1>

                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>Hover me</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="task-items-local-container" *ngIf="tempListId">
                <ng-container *ngFor="let task of tasks">
                    <div class="task-item" (click)="onTaskClick(task)" [ngClass]="{complete: task.completed }">
                        <p>{{task.Ttitle}}</p>
                    </div>
                </ng-container>
            </div>
            <div class="task-add-container" *ngIf="tempListId">
                <button class="task-add button is-primary has-text-white" (click)="createNewTask()">+</button>
            </div>
            <div class="no-task-state-container" *ngIf="!tempListId">
                <h2 class="no-task-state-text">Select a list to view tasks</h2>
            </div>
        </div>
    </div>

    <div class="data-add-container" *ngIf="isListDataUpdating">
        <app-list-create (isListDataModifyEmitter)="fetchListModifyStatus($event)"></app-list-create>
    </div>

    <div class="data-add-container" *ngIf="isTaskDataUpdating">
        <app-task-create [tempListId]="getTempListId()" (isTaskDataModifyEmitter)="fetchTaskModifyStatus($event)">
        </app-task-create>
    </div>

    <div class="logout-container">
        <button class="logout-btn button is-danger has-text-white" (click)="onLogoutBtnCllick()">Logout</button>
    </div>

</div>