<div class="centered-content">

    <div class="task-manager-container"
        [ngClass]="{blur: (isListDataCreating || isTaskDataCreating || isListDataEditing || isTaskDataEditing)}">

        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>
            <div class="list-menu">
                <ng-container *ngFor="let list of lists">
                    <a class="list-menu-item" routerLink="/lists/{{list._id}}" routerLinkActive="is-active">
                        <p>{{list.Ltitle}}</p>
                    </a>
                </ng-container>
            </div>
            <button class="list-add button is-primary has-text-white" (click)="createNewList()">+ New List</button>
        </div>

        <div class="task-list-container">
            <div class="task-top-bar">
                <h1 class="title task-title-header">
                    Tasks
                </h1>

                <div class="dropdown is-hoverable is-right" *ngIf="tempListId">
                    <div class="dropdown-trigger">
                        <button class="button settings-btn" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <!-- Setting icon -->
                            <fa-icon [icon]="faCog"></fa-icon>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <a (click)="editListBtnClick()" class="dropdown-item">
                                Edit
                            </a>
                            <a (click)="onDeleteListBtnClick()" class="dropdown-item has-text-danger">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>

            </div>



            <!-- Task elements -->
            <div class="task-items-local-container" *ngIf="tempListId">
                <ng-container *ngFor="let task of tasks">
                    <div class="task-item" (click)="onTaskClick(task)" [ngClass]="{complete: task.completed }">
                        <p class="task-text">{{task.Ttitle}}</p>
                        <div class="task-option-buttons-container">
                            <button class="button task-option-btn is-warning mr-2" (click)="editTaskBtnClick(task)">
                                <fa-icon [icon]="faPenToSquare"></fa-icon>
                            </button>
                            <button class="button task-option-btn is-danger" (click)="onDeleteTaskBtnClick(task)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="task-add-container" *ngIf="tempListId">
                <button class="task-add button is-primary has-text-white" (click)="createNewTask()">+</button>
            </div>
            <div class="no-task-state-container" *ngIf="!tempListId">
                <h2 class="no-task-state-text">Select a list to view tasks</h2>
            </div>
        </div>
    </div>




    <!-- Create list -->
    <div class="data-add-container" *ngIf="isListDataCreating">
        <app-common-child [primaryBtnFn]="createList" [secondaryBtnFn]="cancelCreateList">
            <div class="title-name">Create a list</div>
            <div class="primary-btn-name">Create</div>
            <div class="secondary-btn-name">Cancel</div>
        </app-common-child>
    </div>

    <!-- Create task -->
    <div class="data-add-container" *ngIf="isTaskDataCreating">
        <app-common-child [primaryBtnFn]="createTask" [secondaryBtnFn]="cancelCreateTask">
            <div class="title-name">Create a task</div>
            <div class="primary-btn-name">Create</div>
            <div class="secondary-btn-name">Cancel</div>
        </app-common-child>
    </div>

    <!-- Edit list  -->
    <div class="data-add-container" *ngIf="isListDataEditing">
        <app-common-edit [oldValue]="tempList.Ltitle" [primaryBtnFn]="saveEditList" [secondaryBtnFn]="cancelEditList">
            <div class="title-name">Edit list</div>
            <div class="primary-btn-name">Save Edit</div>
            <div class="secondary-btn-name">Cancel</div>
        </app-common-edit>
    </div>

    <!-- Edit task  -->
    <div class="data-add-container" *ngIf="isTaskDataEditing">
        <app-common-edit [oldValue]="tempTask.Ttitle" [primaryBtnFn]="saveEditTask" [secondaryBtnFn]="cancelEditTask">
            <div class="title-name">Edit Task</div>
            <div class="primary-btn-name">Save Edit</div>
            <div class="secondary-btn-name">Cancel</div>
        </app-common-edit>
    </div>


    <!-- Logout button -->
    <div class="logout-container">
        <button class="logout-btn button is-danger has-text-white" (click)="onLogoutBtnCllick()">Logout</button>
    </div>

</div>